/*==============Código funciona para as duas páginas================*/
@font-face{
    font-family: 'oswald';
    src: url(./fonts/Oswald-SemiBold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    outline: none;
    border:none;
    width: 100%;
}
body{
    background: #70AEFF;
}
#app {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.space{
    margin-bottom: 5%;
}
.container{
    margin-top: 8%;
}
/*==============Cabeçalho================*/
header .cabecalho{
    height: 40px;
    width: auto;
    margin: 3% 30% 0 30%;
    border-radius: 30px;
    background-color: #00D2BE;
}
header .cabecalho .logo{
    width: 40%;
    height: 80%;
    margin-top: 0.8%;
    margin-left: 30%;
}
/*==============Corpo================*/
section h1{
    text-align: center;
    font-family: 'oswald';
    color: #f2f2f2;
    font-size: 18pt;
}
section .formulario{
    width: 35%;
    height: auto;
    border: 1px solid white;
    border-radius: 30px;
    background-color:#70AEFF;
    margin-left: 32.5%;
}
section .formulario2{
    margin-top: 10%;
    width: 35%;
    height: auto;
    border: 1px solid white;
    border-radius: 30px;
    background-color:#70AEFF;
    margin-left: 32.5%;
}
section input{
    width: 80%;
    height: 30px;
    padding-left: 5px;
    display: block;
    border-radius: 30px;
    margin-left:10%;
}
/*==============Mensagem na segunda tela================*/
section #mensagem{
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-Weight: bold;
    font-family: 'oswald';
    color: rgb(85, 85, 85);
    margin: 5% auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
/*==============Estilo Botão================*/
footer .botao{
    width: auto;
    height: auto;
    background-color:#00D2BE;
    border: solid #00D2BE 1px;
    box-Shadow: 2px 1px 4px #B0B0B0;
    border-radius: 30px;
    padding: 5px 5px 10px 10px;
    margin: 3% 40% 10% 40%;
}
footer .botao:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.05);
}
footer .btn {
    background: none;
    color: white;
    font-Weight: bold;
    font-family: 'oswald';
    font-size: 24px;
}
/*==============Adaptação================*/
/*Iphone*/
@media (max-width: 700px){
    .container{
        margin-top: 50px;
   }
    section .formulario{
        width: auto;
        margin: 0 10% 0 10%;
   }
    footer .botao{
        width: 30%;
        height: auto;
        margin: 5% auto;
   }
    header .cabecalho{
        margin: 3% 5% 0 5%;
   }
    section .formulario2{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
   }
    section #mensagem{
        width: 70%;
   }
}

@media(max-width: 1680px){
    section .formulario2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
   }
    section #mensagem{
        width: 80%;
        text-align: center;
   }
}
